* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
}

.main {
  display: flex;
}
/* left view section */

.left-view {
  flex-basis: 40%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  background: linear-gradient(to right, hsl(222, 60%, 76%), hsl(210, 73%, 51%));
}
label {
  font-size: 1rem;
  color: rgb(52, 52, 52);
}
.logo {
  width: 3rem;
  height: 3rem;
  margin: 0 2rem;
}
.boxes {
  margin: 4rem;
}
.box {
  display: flex;
  padding: 5rem;
}
.text {
  font-size: 1.2rem;
}
.text p {
  font-size: 1rem;
  color: hsl(207, 100%, 94%);
  margin-top: 0.5rem;
}

/* right view section */

.right-view {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 60%;
}

.right-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title {
  font-size: 1.6rem;
}
.border {
  border-bottom: 0.3rem solid rgb(169, 169, 169);
  padding-bottom: 0.6rem;
}
.blue {
  color: blue;
  opacity: 0.8;
}
.same-tag {
  display: flex;
  flex-direction: column;
}
.your-name,
.your-role,
.report1,
.report2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.middle-blocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.middle-row1,
.middle-row2 {
  gap: 1rem;
  text-align: left;
  justify-content: space-between;
  display: flex;
}
.middle-row1 input,
.middle-row2 input {
  padding: 1rem 4rem;
}
.down-row {
  display: flex;
}

input {
  background-color: rgb(235, 235, 235);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  width: 100%;
}

input:focus {
  border: 0.14rem solid rgb(135, 187, 236);
  background-color: white;
}
.down-row {
  display: flex;
  justify-content: space-between;
}
.tacbox {
  display: flex;
  gap: 1rem;
}
.tacbox input {
  width: 4%;
}
.tacbox label {
  width: 80%;
}
label {
  opacity: 0.9;
  font-weight: 300;
}

.down-row button {
  padding: 0.8rem 2.5rem;
  border: none;
  background-color: blue;
  opacity: 0.8;
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
  }
  .main {
    flex-direction: column;
  }
  .box {
    flex-direction: column;
    text-align: center;
  }
  .right-view {
    margin: 0;
    padding: 0;
  }
  .middle-blocks,
  .middle-row1,
  .middle-row2 {
    flex-direction: column;
  }
  .tacbox {
    display: inline;
  }
  .title {
    font-size: 1.2rem;
  }
}
